header {
    background-color: #5fb262;
    margin: 0px;
    border: 10px solid #5fb262;
    text-align: center;
    
    
}
 body {
    margin: 0px;
    background-image: radial-gradient(circle at center, #e6ffe6, #71b971)
 }
 footer {
    width: 100%;
    height: 50px;
    background-color: #568956;
    bottom: 0;
    position: relative;
    padding: 5px;
    
 }
 .heeders {
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
   background-color: #c2edc4;
   padding: 10px;
 }

.about-mepart_in1 {
   display: inline-block;
   width: 100px;
   height: 100px;
   margin-right: 50px;
   left: 0;
   position: relative;
   margin-left: 10px;
   margin-top: 10px;

   
 }
.paragraphs{
   text-align: justify;
   font-family: 'Times New Roman', Times, serif;
   margin-left: 50px;
   margin-right: 50px;
   padding: 10px;
   padding-bottom: 40px;
}
.self_pic {
   width: 125px;
   height: 125px;

}
.about-mepart_in2 {
   display: inline-block;
   text-align: justify;
   margin-right: 50px;
   padding: 10px;
 }
.imgaffil{
   height: 375px;
   width: 400px;
}
.imgback{
   display: flex;
   height: 425px;
   width: 450px;
   background-color: #568956;
   justify-content: center;
   align-items: center;
}
.achi{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 200px;
   text-align: center;
}
.imgproj{
   height: 375px;
   width: 700px;
}
.imgprojback{
   display: flex;
   height: 400px;
   width: 800px;
   background-color: #568956;
   justify-content: center;
   align-items: center;
   margin: 20px;
   padding-bottom: 10px;
   margin-bottom: 30px;
}
section {
   background-color: #a6e999;
}
.imghead{
   height: 150px;
   width: 150px;
}
.imgheadback{
   height: 175px;
   width: 175px;
}



















.container1 {
   display: flex;
   justify-content: space-around;
   background-color: #afd7af;
}
.container2{
   background-color: #afd7af;
}
.container3{
   display: flex;
   justify-content: space-around;
   
}




